.chat-container {
  width: 100%;
  margin: 20px auto;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  border: 1px solid lightgray;
 
}

.messages {
  height: 400px;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.my-msg {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 20px 20px 0 20px;
  margin-bottom: 10px;
  max-width: 70%;
}

.their-msg {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: #333;
  padding: 10px 15px;
  border-radius: 20px 20px 20px 0;
  margin-bottom: 10px;
  max-width: 70%;
}

.my-msg p, .their-msg p {
  margin: 0;
}

.my-msg span, .their-msg span {
  font-size: 12px;
  display: block;
  text-align: right;
  color: #aaa;
}

.input-box {
  display: flex;
  padding: 15px;
  border-top: 1px solid #ddd;
}

.input-box input {
  flex: 1;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.input-box button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-box button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .chat-container {
    margin: 10px;
  }
}