.profile-page {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  margin-top: 80px;
}
.profile-page h2{
  color: black;
}
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.profile-info input[type="file"] {
  margin-bottom: 10px;
  
}

.profile-info label {
  align-self: flex-start;
  font-weight: bold;
  color: #333;
}

.profile-info input, .profile-info select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.profile-info button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.profile-info button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .profile-page {
    padding: 10px;
  }
}