
.logo{
    height: 200px;
   width: 200px;
   border-radius: 70%;
   
   
}
.logo-container{
    width: 250px;
    display: flex;
    flex-direction: row;  
}
.logo-title{
    margin-top: -10px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.logo-title h2{
    font-size: 2rem;
    margin-bottom: -10px;
}
.logo-title p{
font-size: 0.9rem;
margin-left: 10px;
}
.logo-image{
    margin-top: 15px;
}
