
.forget-div{

  padding: 20px;
  border-radius: 8px;
  color: black;
  width: 100%;
height: auto;
   display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    min-height: 100vh; 
   margin-top: -70px;
    
    
}
form {
   background: white; 
   padding: 40px;
   border-radius: 30px;
   width: 350px;
}
h2, p {
    text-align: center;
}
.forget-input{
    width: 320px;
}

.reset-link, .back-login{
color: blue;
text-decoration: none;
display: block;
text-align: center;
margin-top: 10px;
}
.reset-link:hover{
    color: rgb(2, 206, 2);
}
.back-login{
    color: red;
    margin-top: 15px;
}
.back-login:hover{
   text-decoration: underline;
   color: red;
}
